<div class="jumbotron jumbotron-fluid" id="footHeaderColor">
  <div class="container" id="backgroundMain"></div>
  <nav class="navbar  bg-info" id="buttonBackground">
    <div class="container">
      <div class="navbar-nav" id="navButtons">
        <a class="nav-item nav-link active" id="navLinks" href="/">Facebook</a>
        <a class="nav-item nav-link active" id="navLinks" href="/packages">Instagram</a>
        <a class="nav-item nav-link active" id="navLinks" href="/videos">Twitter</a>
        <a class="nav-item nav-link active" id="navLinks" href="#">Snapchat</a>
        <a class="nav-item nav-link active" id="navLinks" href="#">Github</a>
      </div>
    </div>
  </nav>
</div>
