<header class="header">
  <div class="text-box">
    <h1 class="heading-primary">
      <span class="heading-primary-main">Swan Vitality Personal Trainers</span>
      <a class="nav-item nav-link active btn btn-white btn-animated heading-primary-sub" id="navLinks" routerLink="/">Home</a>
      <a class="nav-item nav-link active btn btn-white btn-animated heading-primary-sub2" id="navLinks" routerLink="/packages">Packages</a>
      <a class="nav-item nav-link active btn btn-white btn-animated heading-primary-sub3" id="navLinks" routerLink="/videos">Videos</a>
      <a class="nav-item nav-link active btn btn-white btn-animated heading-primary-sub4" id="navLinks" routerLink="/swizzle">Swizzle TV</a>
      <a class="nav-item nav-link active btn btn-white btn-animated heading-primary-sub5" id="navLinks" routerLink="about">About</a>
    </h1>
  </div>
</header>


