<div class="navigation">
  <input type="checkbox" class="navigation_checkbox" id="navi-toggle" />

  <label for="navi-toggle" class="navigation_button">MENU</label>

  <label for="navi-toggle" class="navigation_button">
    <span class="navigation_icon">&nbsp;</span>
  </label>

  <div class="navigation_background">&nbsp;</div>

  <nav class="navigation_nav">
    <ul class="navigation_list">
      <li class="navigation_item">
        <a href="http://localhost:4200/" class="navigation_link"><span>01</span>Home</a>
      </li>
      <li class="navigation_item">
        <a href="/packages" class="navigation_link"><span>02</span>Packages</a>
      </li>
      <li class="navigation_item">
        <a href="/videos" class="navigation_link"><span>03</span>Videos</a>
      </li>
      <li class="navigation_item">
        <a href="/swizzle" class="navigation_link"><span>04</span>Swizzle-TV</a>
      </li>
      <li class="navigation_item">
        <a href="https://robertsspaceindustries.com/enlist?referral=STAR-LM2V-XX7D" target="_blank" class="navigation_link"><span>05</span>Star Citizen</a>
      </li>
      <li class="navigation_item">
        <a href="#" class="navigation_link"><span>06</span>Sign-up/Login</a>
      </li>
    </ul>
  </nav>
</div>









<header class="headerSwiz">
  <div class="text-box">
    <h1 class="heading-primary">
      <span class="heading-primary-main">Swizzle TV</span>
      <span class="heading-primary-sub">Star Citizen News</span>
      <span class="heading-primary-sub2">Tech Reviews & News</span>
      <span class="heading-primary-sub3">Foodie Reviews</span>
      <span class="heading-primary-sub4">Personal Training</span>
      <span class="heading-primary-sub5">and More</span>
    </h1>

    <a href="#" class="btn btn-white btn-animated">Packages</a>
  </div>
</header>



<main>
    
  <!--using <main> for the main section of the site after the header vs the footer ex-->
  <section class="section-about-swizz">
    <div class="u-center-text u-margin-bottom-big">
      <!--Utility class to center text-->

      <h2 class="heading-secondary">
        Swizzle TV a channel for the open minded human
      </h2>
    </div>

    <div class="row">
      <div class="col-1-of-2">
        <h3 class="heading-tertiary u-margin-bottom-small">
          Get Star Citizen!
        </h3>
        <p class="paragraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid eos
          iste, suscipit mollitia, esse quibusdam placeat officiis consectetur
          blanditiis repudiandae beatae, cum magni. Veritatis quam, aliquam
          tenetur obcaecati voluptas vel.
        </p>

        <h3 class="heading-tertiary  u-margin-bottom-small">
          Personal Training
        </h3>
        <p class="paragraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid eos
          iste, suscipit mollitia,
        </p>
        <a href="#" class="btn-text">Learn more &rarr;</a>
      </div>
      <div class="col-1-of-2">
        <div class="composition">
          <img
            src="../../assets/sean.jpg"
            alt="Photo of sean doing a forward kick"
            class="composition__photo composition__photo--p1"
          />
          <img
            src="../../assets/star.jpg"
            alt="star Citizen emblem"
            class="composition__photo composition__photo--p2"
          />
          <img
            src="../../assets/vegan.jpg"
            alt="Delicious vegan taco with avacado"
            class="composition__photo composition__photo--p3"
          />
          <img
            src="../../assets/training.jpeg"
            alt="a man about to do deadlifts"
            class="composition__photo composition__photo--p4"
          />
          <img
            src="../../assets/tech.jpg"
            alt="ces 2018 oled tv tunnel"
            class="composition__photo composition__photo--p5"
          />
          <img
            src="../../assets/film.jpg"
            alt="film stage green screen"
            class="composition__photo composition__photo--p6"
          />
        </div>
      </div>
    </div>
  </section>

  <section class="section-features">
    <!--<i class="far fa-newspaper">Star Citizen and Tech News</i>-->

    <div class="row">
      <div class="col-1-of-4">
        <div class="feature-box">
          <i class="feature-box__icon fas fa-fighter-jet">Star Citizen</i>
          <h3 class="heading-tertiary U-margin-bottom-small">
            Get Star Citizen
          </h3>
          <p class="feature-box__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde
            fugiat quod saepe aperiam eaque non quam, magnam nesciunt excepturi
            nulla odit explicabo amet, itaque animi laudantium minima, in
            recusandae dolore!
          </p>
        </div>
      </div>

      <div class="col-1-of-4">
        <div class="feature-box">
          <i class="feature-box__icon fas fa-heartbeat">PT</i>
          <h3 class="heading-tertiary U-margin-bottom-small">
            Personal Training
          </h3>
          <p class="feature-box__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde
            fugiat quod saepe aperiam eaque non quam, magnam nesciunt excepturi
            nulla odit explicabo amet, itaque animi laudantium minima, in
            recusandae dolore!
          </p>
        </div>
      </div>

      <div class="col-1-of-4">
        <div class="feature-box">
          <i class="feature-box__icon fas fa-desktop">Tech</i>
          <h3 class="heading-tertiary U-margin-bottom-small">Hot New Tech</h3>
          <p class="feature-box__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde
            fugiat quod saepe aperiam eaque non quam, magnam nesciunt excepturi
            nulla odit explicabo amet, itaque animi laudantium minima, in
            recusandae dolore!
          </p>
        </div>
      </div>

      <div class="col-1-of-4">
        <div class="feature-box">
          <i class="feature-box__icon fas fa-utensils">Life Hacks</i>
          <h3 class="heading-tertiary U-margin-bottom-small">
            The Best Life Hacks
          </h3>
          <p class="feature-box__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde
            fugiat quod saepe aperiam eaque non quam, magnam nesciunt excepturi
            nulla odit explicabo amet, itaque animi laudantium minima, in
            recusandae dolore!
          </p>
        </div>
      </div>
    </div>
  </section>
  </main>
  
      
