<div class="container"><app-navbar></app-navbar></div>

<main>
  <div class="navigation">
    <input type="checkbox" class="navigation_checkbox" id="navi-toggle" />

    <label for="navi-toggle" class="navigation_button">MENU</label>

    <label for="navi-toggle" class="navigation_button">
      <span class="navigation_icon">&nbsp;</span>
    </label>

    <div class="navigation_background">&nbsp;</div>

    <nav class="navigation_nav">
      <ul class="navigation_list">
        <li class="navigation_item">
          <a href="http://localhost:4200/" class="navigation_link"
            ><span>01</span>Home</a
          >
        </li>
        <li class="navigation_item">
          <a href="/packages" class="navigation_link"
            ><span>02</span>Packages</a
          >
        </li>
        <li class="navigation_item">
          <a href="/videos" class="navigation_link"><span>03</span>Videos</a>
        </li>
        <li class="navigation_item">
          <a href="/swizzle" class="navigation_link"
            ><span>04</span>Swizzle-TV</a
          >
        </li>
        <li class="navigation_item">
          <a
            href="https://robertsspaceindustries.com/enlist?referral=STAR-LM2V-XX7D"
            target="_blank"
            class="navigation_link"
            ><span>05</span>Star Citizen</a
          >
        </li>
        <li class="navigation_item">
          <a href="#" class="navigation_link"><span>06</span>Sign-up/Login</a>
        </li>
      </ul>
    </nav>
  </div>

  <!--
    SECTION ABOUT-------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  -->

  <section class="section-about">
    <div class="u-center-text u-margin-bottom-big">
      <!-- Utility class to center text -->

      <h2 class="heading-secondary">
        Swan Vitality PT is a lifestyle are you ready?
      </h2>
    </div>

    <div class="row">
      <div class="col-1-of-2">
        <h3 class="heading-tertiary u-margin-bottom-small">
          One Stop Shop for Results lets go!
        </h3>
        <p class="paragraph">
          Are you hungry for a health and fitness change? Do you have time in
          your life to really commit to be at your dream level of fitness and
          health. Well this is a one stop shop for results if you do the work we
          tell you put in, you will recieve exactly what you want out of it.
          it's now or let those years keep on flying by like water. Sign up to
          take advantage of now!
        </p>

        <h3 class="heading-tertiary  u-margin-bottom-small">
          A new lifestyle and wonderful learning experiance!
        </h3>
        <p class="paragraph">
          Learn to be able to make the best choices for you your family and
          friends health. learn about Chemicals and preservitives as well as
          GMO's and fake food that are making you sick and you probably dont
          even know it. We expose the myth's that keep everyone going in circles
          in there workout's as well as eating habits. The best part is you will
          look and feel better as well as have more energy.
        </p>
        <a href="#" class="nav-item nav-link active btn btn-white btn-animated"
          >Learn more &rarr;</a
        >
      </div>
    </div>


    <!--Javascript pic slider------------------------------------------------------------------------------------------------------------------->

    <div class="slider-container">
      <div class="main-img">
        <img src="../../assets/sean.jpg" id="current" />
      </div>
    </div>

    <div class="imgs">
      <img src="../../assets/film.jpg" alt="" />
      <img src="../../assets/city.jpg" alt="" />
      <img src="../../assets/core.jpg" alt="" />
      <img src="../../assets/balance.jpeg" alt="" />
      <img src="../../assets/balance2.jpeg" alt="" />
      <img src="../../assets/food.jpeg" alt="" />
      <img src="../../assets/calfs.jpg" alt="" />
      <img src="../../assets/core.jpg" alt="" />
      <img src="../../assets/polaris.png" alt="" />
      <img src="../../assets/watermanhappy.jpeg" alt="" />
    </div>

    <!-- Main Cards---------------------------------------------------------------------------------------------------------------------------------------------->
    <div class="row">
      <div class="col-1-of-3">
        <div class="cardMain">
          <div class="cardMain_side cardMain_side--front">
            <div class="cardMain_picture cardMain_picture-1">&nbsp;</div>
            <h4 class="cardMain_heading">
              <span class="cardMain_heading-span cardMain_heading-span--1"
                >Flexability</span
              >
            </h4>
            <div class="cardMain_details">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde
                fugiat quod saepe aperiam eaque non quam, magnam nesciunt
                excepturi nulla odit explicabo amet, itaque animi laudantium
                minima, in recusandae dolore!Lorem ipsum dolor sit amet,
                consectetur adipisicing elit. Unde fugiat quod saepe aperiam
                eaque non quam, magnam nesciunt excepturi nulla odit explicabo
                amet, itaque animi laudantium minima, in recusandae dolore!Lorem
                ipsum dolor sit amet, consectetur adipisicing elit. Unde fugiat
                quod saepe aperiam eaque non quam, magnam nesciunt excepturi
                nulla odit explicabo amet, itaque animi laudantium minima, in
                recusandae dolore!Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Unde fugiat quod saepe aperiam eaque non quam,
                magnam nesciunt excepturi nulla odit explicabo amet, itaque
                animi laudantium minima, in recusandae dolore!
              </p>
            
            </div>
          </div>
        </div>
      </div>
      <div class="col-1-of-3">
        <div class="cardMain">
          <div class="cardMain_side cardMain_side--front">
            <div class="cardMain_picture cardMain_picture-2">&nbsp;</div>
            <h4 class="cardMain_heading">
              <span class="cardMain_heading-span cardMain_heading-span--2"
                >Chemicals & Preservatives
              </span>
            </h4>
            <div class="cardMain_details">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde
                fugiat quod saepe aperiam eaque non quam, magnam nesciunt
                excepturi nulla odit explicabo amet, itaque animi laudantium
                minima, in recusandae dolore!
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1-of-3">
        <div class="cardMain">
          <div class="cardMain_side cardMain_side--front">
            <div class="cardMain_picture cardMain_picture-3">&nbsp;</div>
            <h4 class="cardMain_heading">
              <span class="cardMain_heading-span cardMain_heading-span--3"
                >Cardio</span
              >
            </h4>
            <div class="cardMain_details">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde
                fugiat quod saepe aperiam eaque non quam, magnam nesciunt
                excepturi nulla odit explicabo amet, itaque animi laudantium
                minima, in recusandae dolore!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-1-of-3">
        <div class="cardMain">
          <div class="cardMain_side cardMain_side--front">
            <div class="cardMain_picture cardMain_picture-4">&nbsp;</div>
            <h4 class="cardMain_heading">
              <span class="cardMain_heading-span cardMain_heading-span--4"
                >Build Lean Muscle</span
              >
            </h4>
            <div class="cardMain_details">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde
                fugiat quod saepe aperiam eaque non quam, magnam nesciunt
                excepturi nulla odit explicabo amet, itaque animi laudantium
                minima, in recusandae dolore!
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1-of-3">
        <div class="cardMain">
          <div class="cardMain_side cardMain_side--front">
            <div class="cardMain_picture cardMain_picture-5">&nbsp;</div>
            <h4 class="cardMain_heading">
              <span class="cardMain_heading-span cardMain_heading-span--5"
                >Balance, Stabiliy & Injury rehabilitation</span
              >
            </h4>
            <div class="cardMain_details">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde
                fugiat quod saepe aperiam eaque non quam, magnam nesciunt
                excepturi nulla odit explicabo amet, itaque animi laudantium
                minima, in recusandae dolore!
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1-of-3">
        <div class="cardMain">
          <div class="cardMain_side cardMain_side--front">
            <div class="cardMain_picture cardMain_picture-6">&nbsp;</div>
            <h4 class="cardMain_heading">
              <span class="cardMain_heading-span cardMain_heading-span--6"
                >Sports specific Traning</span
              >
            </h4>
            <div class="cardMain_details">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde
                fugiat quod saepe aperiam eaque non quam, magnam nesciunt
                excepturi nulla odit explicabo amet, itaque animi laudantium
                minima, in recusandae dolore!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-1-of-3">
        <div class="cardMain">
          <div class="cardMain_side cardMain_side--front">
            <div class="cardMain_picture cardMain_picture-7">&nbsp;</div>
            <h4 class="cardMain_heading">
              <span class="cardMain_heading-span cardMain_heading-span--7"
                >Home Training</span
              >
            </h4>
            <div class="cardMain_details">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde
                fugiat quod saepe aperiam eaque non quam, magnam nesciunt
                excepturi nulla odit explicabo amet, itaque animi laudantium
                minima, in recusandae dolore!
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1-of-3">
        <div class="cardMain">
          <div class="cardMain_side cardMain_side--front">
            <div class="cardMain_picture cardMain_picture-8">&nbsp;</div>
            <h4 class="cardMain_heading">
              <span class="cardMain_heading-span cardMain_heading-span--8"
                >Swimming Classes</span
              >
            </h4>
            <div class="cardMain_details">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde
                fugiat quod saepe aperiam eaque non quam, magnam nesciunt
                excepturi nulla odit explicabo amet, itaque animi laudantium
                minima, in recusandae dolore!
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1-of-3">
        <div class="cardMain">
          <div class="cardMain_side cardMain_side--front">
            <div class="cardMain_picture cardMain_picture-9">&nbsp;</div>
            <h4 class="cardMain_heading">
              <span class="cardMain_heading-span cardMain_heading-span--9"
                >Personal Training Videos Catered to your needs</span
              >
            </h4>
            <div class="cardMain_details">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde
                fugiat quod saepe aperiam eaque non quam, magnam nesciunt
                excepturi nulla odit explicabo amet, itaque animi laudantium
                minima, in recusandae dolore!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-features">
    <div class="row">
      <div class="col-1-of-4">
        <div class="feature-box">
          <i class="feature-box__icon fas fa-fighter-jet">Star Citizen</i>
          <h3 class="heading-tertiary U-margin-bottom-small">
            Get Star Citizen
          </h3>
          <p class="feature-box__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde
            fugiat quod saepe aperiam eaque non quam, magnam nesciunt excepturi
            nulla odit explicabo amet, itaque animi laudantium minima, in
            recusandae dolore!
          </p>
        </div>
      </div>

      <div class="col-1-of-4">
        <div class="feature-box">
          <i class="feature-box__icon fas fa-heartbeat">PT</i>
          <h3 class="heading-tertiary U-margin-bottom-small">
            Personal Training
          </h3>
          <p class="feature-box__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde
            fugiat quod saepe aperiam eaque non quam, magnam nesciunt excepturi
            nulla odit explicabo amet, itaque animi laudantium minima, in
            recusandae dolore!
          </p>
        </div>
      </div>

      <div class="col-1-of-4">
        <div class="feature-box">
          <i class="feature-box__icon fas fa-desktop">Tech</i>
          <h3 class="heading-tertiary U-margin-bottom-small">Hot New Tech</h3>
          <p class="feature-box__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde
            fugiat quod saepe aperiam eaque non quam, magnam nesciunt excepturi
            nulla odit explicabo amet, itaque animi laudantium minima, in
            recusandae dolore!
          </p>
        </div>
      </div>

      <div class="col-1-of-4">
        <div class="feature-box">
          <i class="feature-box__icon fas fa-utensils">Life Hacks</i>
          <h3 class="heading-tertiary U-margin-bottom-small">
            The Best Life Hacks
          </h3>
          <p class="feature-box__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde
            fugiat quod saepe aperiam eaque non quam, magnam nesciunt excepturi
            nulla odit explicabo amet, itaque animi laudantium minima, in
            recusandae dolore!
          </p>
        </div>
      </div>
    </div>
  </section>

  <!--CardMain---------------------------------------------------------------------------------------------------------------------------------------------->
  <section class="section-packages-home">
    <div class="u-center-text u-margin-bottom-huge">
      <h2 class="heading-packages">Reap The rewards and the the Champions</h2>
    </div>

    <div class="row">
      <div class="col-1-of-3">
        <div class="cardMain">
          <div class="cardMain_side cardMain_side--front">
            <div class="cardMain_picture cardMain_picture-1">&nbsp;</div>
            <h4 class="cardMain_heading">
              <span class="cardMain_heading-span cardMain_heading-span--1"
                >Elite Personal Training</span
              >
            </h4>
            <div class="cardMain_details">
              <ul>
                <li>Food</li>
                <li>Water</li>
                <li>Protien</li>
                <li>Carbs</li>
                <li>Vegetables</li>
              </ul>
            </div>
          </div>
          <div class="cardMain_side cardMain_side--back cardMain_side--back-1">
            <div class="cardMain_cta">
              <div class="card_price-box">
                <p class="class cardMain_price-only">Only</p>
                <p class="class cardMain_price-value">$1000</p>
              </div>
              <a href="#popup" class="btn btn-white">Book Now!</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1-of-3">
        <div class="cardMain">
          <div class="cardMain_side cardMain_side--front">
            <div class="cardMain_picture cardMain_picture-2">&nbsp;</div>
            <h4 class="cardMain_heading">
              <span class="cardMain_heading-span cardMain_heading-span--2"
                >Star Citizen</span
              >
            </h4>
            <div class="cardMain_details">
              <p>
                GET STAR CIS-Vitality-SiteTIZEN NOW! Recieve Bonus 5000 UEC in
                Game Credits with my Referral Code
              </p>
            </div>
          </div>
          <div class="cardMain_side cardMain_side--back cardMain_side--back-2">
            <div class="cardMain_cta">
              <div class="card_price-box">
                <p class="class cardMain_price-only">
                  Create Your Account using Referral Code
                </p>
              </div>
              <a
                href="https://robertsspaceindustries.com/enlist?referral=STAR-LM2V-XX7D"
                target="_blank"
                class="btn btn-white"
                >FLY NOW!!!</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-1-of-3">
        <div class="cardMain">
          <div class="cardMain_side cardMain_side--front">
            <div class="cardMain_picture cardMain_picture-3">&nbsp;</div>
            <h4 class="cardMain_heading">
              <span class="cardMain_heading-span cardMain_heading-span--3"
                >Swizzle TV</span
              >
            </h4>
            <div class="cardMain_details">
              <ul>
                <li>Personal Training</li>
                <li>Tech Reviews</li>
                <li>Star Citizen</li>
                <li>Food Reviews</li>
                <li>Acting</li>
                <li>Coding</li>
              </ul>
            </div>
          </div>
          <div class="cardMain_side cardMain_side--back cardMain_side--back-3">
            <div class="cardMain_cta">
              <div class="card_price-box">
                <p class="class cardMain_price-only">Only</p>
                <p class="class cardMain_price-value">$1000</p>
              </div>
              <a
                href="https://www.youtube.com/channel/UCAB2fPfEIlBCDWiUeLYgIQQ?view_as=subscriber"
                target="_blank"
                class="btn btn-white"
                >Subscribe</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="u-center-text u-margin-top-huge">
      <a
        navLink="packages"
        href="/packages"
        class="nav-item nav-link active btn btn-white btn-animated"
        >See all section-packages</a
      >
    </div>
  </section>

  <section class="section-stories">
    <div class="bg-video">
      <video class="bg-video_content" autoplay muted loop>
        <source src="../../assets/LA4k.mp4" type="video/mp4" />
        <source src="../../assets/LA4k.webm" type="video/webm" />
        your browser is not supported!
      </video>
    </div>
    <div class="u-center-text u-margin-bottom-big">
      <h2 class="heading-secondary">What Everyone is talking about</h2>
    </div>

    <div class="row">
      <div class="story">
        <figure class="story_shape">
          <img
            src="../../assets/ocean-man.jpeg"
            class="story_img"
            alt="ocean turtle swiming towards the camera looking cute and happy with a turtle smile."
          />
          <figcaption class="story_caption">Jasmine Swan</figcaption>
        </figure>
        <div class="story_text">
          <h3 class="heading-tertiary u-margin-bottom-small">
            Wow completly positivly Life changing!
          </h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
            praesentium neque dolorum expedita maxime sunt voluptatem aut
            adipisci nobis magnam! Eum cumque necessitatibus architecto dolorem
            hic ab fugit aliquid itaque! Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Deserunt praesentium neque dolorum expedita maxime
            sunt voluptatem aut adipisci nobis magnam! Eum cumque necessitatibus
            architecto dolorem hic ab fugit aliquid itaque! Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Deserunt praesentium neque
            dolorum expedita maxime sunt voluptatem aut adipisci nobis magnam!
            Eum cumque necessitatibus architecto dolorem hic ab fugit aliquid
            itaque! Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Deserunt praesentium neque dolorum expedita maxime sunt voluptatem
            aut adipisci nobis magnam! Eum cumque necessitatibus architecto
            dolorem hic ab fugit aliquid itaque! Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Deserunt praesentium neque dolorum
            expedita maxime sunt voluptatem aut adipisci nobis magnam! Eum
            cumque necessitatibus architecto dolorem hic ab fugit aliquid
            itaque! Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Deserunt praesentium neque dolorum expedita maxime sunt voluptatem
            aut adipisci nobis magnam! Eum cumque necessitatibus architecto
            dolorem hic ab fugit aliquid itaque! Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Deserunt praesentium neque dolorum
            expedita maxime sunt voluptatem aut adipisci nobis magnam! Eum
            cumque necessitatibus architecto dolorem hic ab fugit aliquid
            itaque! Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Deserunt praesentium neque dolorum expedita maxime sunt voluptatem
            aut adipisci nobis magnam! Eum cumque necessitatibus architecto
            dolorem hic ab fugit aliquid itaque! Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Deserunt praesentium neque dolorum
            expedita maxime sunt voluptatem aut adipisci nobis magnam! Eum
            cumque necessitatibus architecto dolorem hic ab fugit aliquid
            itaque!
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="story">
        <figure class="story_shape">
          <img
            src="../../assets/basketball.jpeg"
            class="story_img"
            alt="ocean turtle swiming towards the camera looking cute and happy with a turtle smile."
          />
          <figcaption class="story_caption">Sean Swan</figcaption>
        </figure>
        <div class="story_text">
          <h3 class="heading-tertiary u-margin-bottom-small">
            SVPT is stright to the point and results
          </h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
            praesentium neque dolorum expedita maxime sunt voluptatem aut
            adipisci nobis magnam! Eum cumque necessitatibus architecto dolorem
            hic ab fugit aliquid itaque! Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Deserunt praesentium neque dolorum expedita maxime
            sunt voluptatem aut adipisci nobis magnam! Eum cumque necessitatibus
            architecto dolorem hic ab fugit aliquid itaque! Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Deserunt praesentium neque
            dolorum expedita maxime sunt voluptatem aut adipisci nobis magnam!
            Eum cumque necessitatibus architecto dolorem hic ab fugit aliquid
            itaque! Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Deserunt praesentium neque dolorum expedita maxime sunt voluptatem
            aut adipisci nobis magnam! Eum cumque necessitatibus architecto
            dolorem hic ab fugit aliquid itaque! Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Deserunt praesentium neque dolorum
            expedita maxime sunt voluptatem aut adipisci nobis magnam! Eum
            cumque necessitatibus architecto dolorem hic ab fugit aliquid
            itaque! Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Deserunt praesentium neque dolorum expedita maxime sunt voluptatem
            aut adipisci nobis magnam! Eum cumque necessitatibus architecto
            dolorem hic ab fugit aliquid itaque! Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Deserunt praesentium neque dolorum
            expedita maxime sunt voluptatem aut adipisci nobis magnam! Eum
            cumque necessitatibus architecto dolorem hic ab fugit aliquid
            itaque! Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Deserunt praesentium neque dolorum expedita maxime sunt voluptatem
            aut adipisci nobis magnam! Eum cumque necessitatibus architecto
            dolorem hic ab fugit aliquid itaque! Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Deserunt praesentium neque dolorum
            expedita maxime sunt voluptatem aut adipisci nobis magnam! Eum
            cumque necessitatibus architecto dolorem hic ab fugit aliquid
            itaque!
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="story">
        <figure class="story_shape">
          <img
            src="../../assets/swim-turtle.jpeg"
            class="story_img"
            alt="ocean turtle swiming towards the camera looking cute and happy with a turtle smile."
          />
          <figcaption class="story_caption">Saniyah Swan</figcaption>
        </figure>
        <div class="story_text">
          <h3 class="heading-tertiary u-margin-bottom-small">
            Seriously the Best in the World
          </h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
            praesentium neque dolorum expedita maxime sunt voluptatem aut
            adipisci nobis magnam! Eum cumque necessitatibus architecto dolorem
            hic ab fugit aliquid itaque! Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Deserunt praesentium neque dolorum expedita maxime
            sunt voluptatem aut adipisci nobis magnam! Eum cumque necessitatibus
            architecto dolorem hic ab fugit aliquid itaque! Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Deserunt praesentium neque
            dolorum expedita maxime sunt voluptatem aut adipisci nobis magnam!
            Eum cumque necessitatibus architecto dolorem hic ab fugit aliquid
            itaque! Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Deserunt praesentium neque dolorum expedita maxime sunt voluptatem
            aut adipisci nobis magnam! Eum cumque necessitatibus architecto
            dolorem hic ab fugit aliquid itaque! Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Deserunt praesentium neque dolorum
            expedita maxime sunt voluptatem aut adipisci nobis magnam! Eum
            cumque necessitatibus architecto dolorem hic ab fugit aliquid
            itaque! Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Deserunt praesentium neque dolorum expedita maxime sunt voluptatem
            aut adipisci nobis magnam! Eum cumque necessitatibus architecto
            dolorem hic ab fugit aliquid itaque! Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Deserunt praesentium neque dolorum
            expedita maxime sunt voluptatem aut adipisci nobis magnam! Eum
            cumque necessitatibus architecto dolorem hic ab fugit aliquid
            itaque! Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Deserunt praesentium neque dolorum expedita maxime sunt voluptatem
            aut adipisci nobis magnam! Eum cumque necessitatibus architecto
            dolorem hic ab fugit aliquid itaque! Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Deserunt praesentium neque dolorum
            expedita maxime sunt voluptatem aut adipisci nobis magnam! Eum
            cumque necessitatibus architecto dolorem hic ab fugit aliquid
            itaque!
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="section-book">
    <div class="row">
      <div class="book">
        <div class="book_form">
          <form action="#" class="form">
            <div class=" u-margin-bottom-medium">
              <h2 class="heading-packages">Book an Appointment now!</h2>
            </div>

            <div class="form_group">
              <input
                type="text"
                class="form_input"
                placeholder="Full Name"
                id="name"
                required
              />
              <label for="name" class="form_label">Full name</label>
            </div>

            <div class="form_group">
              <input
                type="email"
                class="form_input"
                placeholder="Email address"
                id="email"
                required
              />
              <label for="email" class="form_label">Email Address</label>
            </div>

            <div class="form_group u-margin-bottom-medium">
              <div class="form_radio-group">
                <input
                  type="radio"
                  class="form_radio-input"
                  id="small"
                  name="size"
                />
                <label for="small" class="form_radio-label">
                  <span class="form_radio-button"></span> Personal Training
                </label>
              </div>

              <div class="form_radio-group">
                <input
                  type="radio"
                  class="form_radio-input"
                  id="large"
                  name="size"
                />
                <label for="large" class="form_radio-label">
                  <span class="form_radio-button"></span> Personal Strecthing
                </label>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>

<footer class="footer">
  <div class="footer__logo-box">
    <video class="footer_logo" autoplay muted loop>
      <source src="../../assets/cubes.mp4" type="video/mp4" />
      <source src="../../assets/cubes.webm" type="video/webm" />
      your browser is not supported!
    </video>
  </div>
  <div class="row">
    <div class="col-1-of-2">
      <div class="footer__navigation">
        <ul class="footer__list">
          <li class="footer__item">
            <a href="#" class="footer__link">Company</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Contact us</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Carrers</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Privacy policy</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Terms</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-1-of-2">
      <p class="footer__copyright">
        Built by <a href="#" class="footer__link">Sean London Swan</a> for his
        Personal Training and Swizzle TV site
        <a href="#" class="footer__link">Swan Vitality Personal Trainers</a>.
        Copyright &copy; by Sean London Swan. You are not allowed to use this
        webpage for both personal and commercial use unless authorized by author
        Sean London Swan, NOT to claim as your own design. A credit to the
        original author, Sean Swan, is of course highly appreciated!
      </p>
    </div>
  </div>
</footer>

<div class="popup" id="popup">
  <div class="popup_content">
    <div class="popup_left">
      <img
        src="../../assets/watermanhappy.jpeg"
        alt="Tour photo"
        class="popup_img"
      />
      <img
        src="../../assets/man-at-the-top.jpeg"
        alt="Tour photo"
        class="popup_img"
      />
    </div>
    <div class="popup_right">
      <a href="#section-tours" class="popup_close">&times;</a>
      <h2 class="heading-secondary u-margin-bottom-small">Start booking now</h2>
      <h3 class="heading-tertiary u-margin-bottom-small">
        Important &ndash; Please read these terms before booking
      </h3>
      <p class="popup_text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Sed sed risus
        pretium quam. Aliquam sem et tortor consequat id. Volutpat odio
        facilisis mauris sit amet massa vitae. Mi bibendum neque egestas congue.
        Placerat orci nulla pellentesque dignissim enim sit. Vitae semper quis
        lectus nulla at volutpat diam ut venenatis. Malesuada pellentesque elit
        eget gravida cum sociis natoque penatibus et. Proin fermentum leo vel
        orci porta non pulvinar neque laoreet. Gravida neque convallis a cras
        semper. Molestie at elementum eu facilisis sed odio morbi quis. Faucibus
        vitae aliquet nec ullamcorper sit amet risus nullam eget. Nam libero
        justo laoreet sit. Amet massa vitae tortor condimentum lacinia quis vel
        eros donec. Sit amet facilisis magna etiam. Imperdiet sed euismod nisi
        porta.
      </p>
      <a href="#packages" class="btn btn-white">Book now</a>
    </div>
  </div>
</div>

<!--
  <div class="slider ">
    <div class="slide-viwer ">
      <div class="slide-group ">
        <div class="slide slide-1 "></div>
        <div class="slide slide-2 "></div>
        <div class="slide slide-3 "></div>
        <div class="slide slide-4 "></div>
      </div>
    </div>
    <div class="slide-buttons "></div>
  </div>


  <div class="container ">
    <div class="main-img ">
      <img src="../../assets/stretch.jpg " "current ">
    </div>

    <img src="../../assets/stretch.jpg ">
    <img src="../../assets/stretch.jpg ">
    <img src="../../assets/stretch.jpg ">
    <img src="../../assets/stretch.jpg ">
    <img src="../../assets/stretch.jpg ">
    <img src="../../assets/stretch.jpg ">
    <img src="../../assets/stretch.jpg ">
    <img src="../../assets/stretch.jpg ">
    <img src="../../assets/stretch.jpg ">
    <img src="../../assets/stretch.jpg ">

  </div>



  time clock function react with state and state must use classes

  class Clock extends React.Component {
    constructor(props) {
      super(props);
      this.state = {date: new Date()};
    }

    componentDidMount() {
      this.timerID = setInterval(
        () => this.tick(),
        1000
      );
    }

    componentWillUnmount() {
      clearInterval(this.timerID);
    }

    tick() {
      this.setState({
        date: new Date()
      });
    }

    render() {
      return (
        <div>
          <h1>Hello, world!</h1>
          <h2>It is {this.state.date.toLocaleTimeString()}.</h2>
        </div>
      );
    }
  }

  ReactDOM.render(
    <Clock />,
    document.getElementById('root')
  );
-->
