<div class="navigation">
  <input type="checkbox" class="navigation_checkbox" id="navi-toggle" />

  <label for="navi-toggle" class="navigation_button">MENU</label>

  <label for="navi-toggle" class="navigation_button">
    <span class="navigation_icon">&nbsp;</span>
  </label>

  <div class="navigation_background">&nbsp;</div>

  <nav class="navigation_nav">
    <ul class="navigation_list">
      <li class="navigation_item">
        <a href="http://localhost:4200/" class="navigation_link"><span>01</span>Home</a>
      </li>
      <li class="navigation_item">
        <a href="/packages" class="navigation_link"><span>02</span>Packages</a>
      </li>
      <li class="navigation_item">
        <a href="/videos" class="navigation_link"><span>03</span>Videos</a>
      </li>
      <li class="navigation_item">
        <a href="/swizzle" class="navigation_link"><span>04</span>Swizzle-TV</a>
      </li>
      <li class="navigation_item">
        <a href="https://robertsspaceindustries.com/enlist?referral=STAR-LM2V-XX7D" target="_blank" class="navigation_link"><span>05</span>Star Citizen</a>
      </li>
      <li class="navigation_item">
        <a href="#" class="navigation_link"><span>06</span>Sign-up/Login</a>
      </li>
    </ul>
  </nav>
</div>







<div [class]="theme">
    <div class="container-fluid">
      <!--Optional Material Navbar-->
      <!-- <mat-toolbar>
        <span id="videoHeader">Swan Vitality Personal Trainers</span>
        <button id="videoNavButtons" mat-button color="accent">
          <a class="nav-item nav-link active" id="navLinks" href="/">Home
            <i class="fa fa-home  fa-3x" aria-hidden="true"></i>
          </a>
        </button>
        <button id="videoNavButtons" mat-button color="primary">
          <a class="nav-item nav-link active" id="navLinks" href="/packages">Packages
            <i class="fa fa-shopping-basket fa-3x" aria-hidden="true"></i>
          </a>
        </button>
        <button id="videoNavButtons" mat-button color="primary">
          <a class="nav-item nav-link active" id="navLinks" href="/packages">News
            <i class="fa-newspaper-o fa-3x" aria-hidden="true"></i>
          </a>
        </button>
        <button id="videoNavButtons" mat-button color="primary">
          <a class="nav-item nav-link active" id="navLinks" href="/swizzle-tv">Swizzle TV
            <i class="fab fa-qq fa-3x" aria-hidden="true"></i>
          </a>
          </button>
      </mat-toolbar> -->
      <mat-card id="mainVidTitle">
        <mat-card-title id="vidTitle">Videos</mat-card-title>
        <img id="mainVidImage" mat-card-image src="../../assets/Splash.jpg">
      </mat-card>
      <br>
      <br>
      <mat-card id="themeCard">
        <mat-select id="themeToggle" color="primary" placeholder="Theme" [(ngModel)]="theme" (change)="onThemeChange()">
          <mat-option value="my-theme">Dark Theme</mat-option>
          <mat-option value="my-second-theme">Light Theme</mat-option>
        </mat-select>
      </mat-card>]
      <br>
      <br>
  
  
      <div class="videoBoxes">
        <mat-card id="stretch">
          <mat-card-title id="videoCardTitle">Strecthing</mat-card-title>
          <img id="vidImage" mat-card-image src="../../assets/stretch.jpg">
        </mat-card>
  
        <mat-card id="funct">
          <mat-card-title id="videoCardTitle">Functional</mat-card-title>
          <img id="vidImage" mat-card-image src="../../assets/Splash.jpg">
        </mat-card>
  
        <mat-card id="chest">
          <mat-card-title id="videoCardTitle">Chest</mat-card-title>
          <img id="vidImage" mat-card-image src="../../assets/chest.jpg">
        </mat-card>
  
        <mat-card id="back">
          <mat-card-title id="videoCardTitle">Back</mat-card-title>
          <img id="vidImage" mat-card-image src="../../assets/back.jpg">
        </mat-card>
  
        <mat-card id="arms">
          <mat-card-title id="videoCardTitle">Arms</mat-card-title>
          <img id="vidImage" mat-card-image src="../../assets/arms.jpg">
        </mat-card>
  
        <mat-card id="core">
          <mat-card-title id="videoCardTitle">Core</mat-card-title>
          <img id="vidImage" mat-card-image src="../../assets/core.jpg">
        </mat-card>
  
        <mat-card id="legs">
          <mat-card-title id="videoCardTitle">Legs</mat-card-title>
          <img id="vidImage" mat-card-image src="../../assets/legs.jpg">
        </mat-card>
  
        <mat-card id="glutes">
          <mat-card-title id="videoCardTitle">Glutes</mat-card-title>
          <img id="vidImage" mat-card-image src="../../assets/glutes.jpg">
        </mat-card>
  
        <mat-card id="swimming">
          <mat-card-title id="videoCardTitle">Swimming</mat-card-title>
          <img id="vidImage" mat-card-image src="../../assets/swimming-pool.jpeg">
        </mat-card>
      </div>
  
  
      <mat-toolbar id="footerButtonBar">
        <button id="facebookFoot" mat-button color="primary">
          <a class="nav-item nav-link active" id="navLinks" href="https://www.facebook.com/SwanVitalityPT/ " target="_blank">
            <i class="fa fa-facebook fa-4x" aria-hidden="true"></i>
          </a>
        </button>
        <button id="githubfoot" mat-button color="accent">
          <a class="nav-item nav-link active" id="navLinks" href="https://github.com/SeanSwan " target="_blank">
            <i class="fa fa-github fa-4x" aria-hidden="true"></i>
          </a>
        </button>
        <button id="instaFoot" mat-button color="primary">
  
          <a class="nav-item nav-link active" id="navLinks" href="https://www.instagram.com/swanvitalitypt/">
            <i class="fa fa-instagram fa-4x" aria-hidden="true"></i>
          </a>
  
        </button>
        <button id="twitFoot" mat-button color="accent">
  
          <a class="nav-item nav-link active" id="navLinks" href="/videos">
            <i class="fa fa-twitter fa-4x" aria-hidden="true"></i>
          </a>
        </button>
        <button id="snapFoot" mat-button color="primary">
          <i class="fa fa-snapchat fa-4x" aria-hidden="true"></i>
          <a class="nav-item nav-link active" id="navLinks" href="/"></a>
        </button>
        <button id="linkedFoot" mat-button color="accent">
          <i class="fa fa-linkedin fa-4x" aria-hidden="true"></i>
          <a class="nav-item nav-link active" id="navLinks" href="/"></a>
        </button>
      </mat-toolbar>
    </div>
  </div>